@charset "utf-8";
/* CSS Document */

body{background-color:#CF9;
background-image:url(../Img/maxresdefault.jpg);
background-position:center;
border:#063;
}
.one{
font-size:24px;
font-style:italic;
color:#C33;
font-family:"Arial Black", Gadget, sans-serif;
font-weight:bold;
border:#F00;
text-shadow:2px 2px #000;
}
#one{
	width:500px;
	height:200px;
	background-color: #CF9;
	color:#000;
	text-shadow:1px 1px #330000;
	font-size:32px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	border:2px solid #00CCFF;
	margin:10px 10px 10px 400px;
	float:left;
	
}

#d1{
	width:500px;
	height:200px;
	background-color:#9F3;
	margin:0px 0px 0px 400px;
	float:left;
	padding:5px;
	
}
	
	h2{
		text-align:center;
		
		}
		
	p{
		text-align:justify;	
		}
	
	


